body {
  font-size: 1.3em;
}

.questions {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100vh;
  margin-top: 5em;
}

button {
  font-size: 1.5em;
  color: blue;
  border-radius: 5px;
}

.questions-list {
  color: darkgreen;
}

.loading-message {
  color: blue;
}

.error-message {
  color: darkred;
}
