body {
  font-size: 1.5em;
}

.questions {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

button {
  font-size: 1.5em;
  color: blue;
}
.questions-list {
  color: darkgreen;
}

.loading-message {
  color: blue;
}

.error-message {
  color: darkred;
}
